@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Google Sans Text, sans-serif;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-primary/5 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary/[.15] rounded-full;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display {
  font-family: Google Sans Display, sans-serif;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

a {
  @apply text-primary hover:underline;
}

p {
  @apply text-justify;
}

[data-nextjs-scroll-focus-boundary] {
  @apply overflow-y-auto flex flex-col grow;
}

.card {
  @apply p-8 bg-primary/5 rounded-3xl;
}

input[type="text"] {
  @apply h-14 px-4 border border-outline rounded-[4px] outline-primary bg-transparent;
}

@keyframes circular-progress-indicator {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}
